{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- not in use: {% image self.banner_image fill-400x400 as img %} -->

<!-- MOTD -->
<div class="bg-light p-5 rounded-lg m-3"
    style="background-color: black !important; background-size: contain; margin-top: 70px !important; color: #fff !important">

        <h1 class="display-4" style="font-size: 60px;">{{ self.banner_title }}</h1>
        <div class="lead" style="font-size: 40px;">{{ self.banner_subtitle|richtext }}</div>
</div>

<!-- Room state -->
<div class="bg-light p-5 rounded-lg m-3"
    style="background-color:black !important; padding-top: 0px; background-size: contain; color: #fff !important">

    <!-- room_state without colors: <h1 class="display-4" style="">{{ self.get_room_state_display }}</h1>-->

    {% if self.get_room_state_display == 'Bitte nicht stören!' %}
        <h1 class="display-4" style="color: orange; font-weight: bold; text-transform: uppercase;">{{ self.get_room_state_display }}</h1>

    {% elif self.get_room_state_display == 'Wir haben geöffnet!' %}
        <h1 class="display-4" style="color: green; font-weight: bold; text-transform: uppercase;">{{ self.get_room_state_display }}</h1>

    {% elif self.get_room_state_display == 'Wir haben geschlossen!' %}
        <h1 class="display-4" style="color: red; font-weight: bold; text-transform: uppercase;">{{ self.get_room_state_display }}</h1>

    {% elif self.get_room_state_display == 'Wir haben gleich wieder geöffnet!' %}
        <h1 class="display-4" style="color: blue; font-weight: bold; text-transform: uppercase;">{{ self.get_room_state_display }}</h1>

    {% endif %}
</div>
{% endblock %}
